<form [formGroup]="addMemberForm" (ngSubmit)="onSubmit()">
  <div class="modal-body">
    <div class="form-group">
      <label for="email">Email:</label>
      <input id="email" type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.email.errors }" />
      <div *ngIf="submitted && form.email.errors" class="invalid-feedback">
        <div *ngIf="form.email.errors.required">Email is required</div>
        <div *ngIf="form.email.errors.email">Email must be a valid email address</div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">Add</button>
      <fa-icon *ngIf="loading" [icon]="['far', 'spinner']" [spin]="true" class="ml-2"></fa-icon>
    </div>
  </div>
</form>
