<div class="container-fluid">
  <div class="row">
    <div class="col-4 offset-4">
      <h2 class="text-center mt-2">Update profile</h2>
      <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="firstName">First name:</label>
          <input id="firstName" type="text" formControlName="firstName" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && form.firstName.errors }"/>
          <div *ngIf="submitted && form.firstName.errors" class="invalid-feedback">
            <div *ngIf="form.firstName.errors.required">First name is required</div>
          </div>
        </div>

        <div class="form-group">
          <label for="lastName">Last name:</label>
          <input id="lastName" type="text" formControlName="lastName" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && form.lastName.errors }"/>
          <div *ngIf="submitted && form.lastName.errors" class="invalid-feedback">
            <div *ngIf="form.lastName.errors.required">Last name is required</div>
          </div>
        </div>

        <div class="form-group">
          <label for="email">Email:</label>
          <input id="email" type="text" formControlName="email" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && form.email.errors }"/>
          <div *ngIf="submitted && form.email.errors" class="invalid-feedback">
            <div *ngIf="form.email.errors.required">Email is required</div>
          </div>
        </div>

        <div class="form-group">
          <button [disabled]="loading" class="btn btn-primary">
            Save changes
          </button>
          <span *ngIf="loading">
              <fa-icon *ngIf="loading" [icon]="['far', 'spinner']" [spin]="true" class="ml-2"></fa-icon>
            </span>
        </div>
      </form>
    </div>
  </div>
</div>
