<div class="collection-image" (click)="openCollection()">
  <div class="banner">
    <img *ngIf="false; else fallback" class="collection-banner">

    <ng-template #fallback>
      <div class="collection-banner-placeholder"></div>
    </ng-template>
  </div>

  <div class="text-block">
    <div class="overlay">
      <div class="pl-3 m-2">
        <ul class="list-unstyled">
          <li class="collection-title">{{collection.name}}</li>
          <li class="collection-subtitle">{{collection.createdAt.toDateString()}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
