@import "~src/assets/scss/variables";

.collection-image {
  position: relative;
  cursor: pointer;
}

.banner {
  width: 100%;
  height: 200px;
}

.collection-banner-placeholder {
  background-color: $light-grey;
  width: 100%;
  height: 100%;
}

.collection-banner {
  width: 100%;
  height: 100%;
}

.text-block {
  position: absolute;
  bottom: 16px;
  left: 0;
  width: 100%;
}

.overlay {
  background: rgba(0, 0, 0, 0.3);
  position: relative;
}

.collection-title {
  font-size: 36px;
  color: $primary-color;
  font-weight: 200;
}

.collection-subtitle {
  font-size: 14px;
  color: $white;
}
