<nav class="navbar navbar-expand-md navbar-light fixed-top bg p-3">
  <a class="navbar-brand pl-5" routerLink="/">
    MemoryBox
  </a>
  <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ml-auto pr-5">
      <li class="nav-item mr-3 active">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item mr-3">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="nav-item mr-3">
        <a class="nav-link" routerLink="/sign_up">Sign Up</a>
      </li>
    </ul>
  </div>
</nav>
