@import "../../../assets/scss/variables";

$navbar-background: #ffffff;

.navbar {
  max-width: 100%;
  opacity: .6;

  .active {
    font-weight: 500;
    border-bottom: 2px solid $primary-color !important;
  }

  &.bg {
    background-color: $navbar-background !important;
  }
}

.nav-link {
  text-transform: uppercase;
}

.navbar-brand {
  font-size: 1.625rem;
  font-family: Roboto-Bold, sans-serif;
}
