@import "../../../assets/scss/variables";

.navbar-light {
  // Our z-index needs to be higher then the z-index of sticky-top, this to prevent the profile dropdown from
  // appearing behind the sub-navbar
  z-index: 1025;
}

.navbar-light .nav-item.nav-link.active {
  color: $secondary-color-accent;
}

.navbar-light .nav-item.nav-link {
  color: $secondary-color-darker;
}
