<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand offset-2" routerLink="/dashboard">MemoryBox</a>
  <a class="nav-item nav-link" [routerLink]="['/dashboard', 'collections']"
     [ngClass]="{'active': collectionActive.isActive || collectionsActive.isActive }">
    My collections
  </a>

  <div ngbDropdown class="d-inline-block offset-5">

    <div class="d-flex align-items-center bg-light" ngbDropdownToggle>
      <div>
        <app-common-user [user]="user" [size]="30" [showTooltip]="false"></app-common-user>
      </div>
      <p class="col p-2 m-0">{{user.getFullName()}}</p>
    </div>

    <div ngbDropdownMenu>
      <a class="dropdown-item" [routerLink]="['/dashboard', 'profile']" [routerLinkActive]="'active'">Profile</a>
      <a class="dropdown-item" (click)="logout()">Logout</a>
    </div>
  </div>

  <!-- Hidden navs to activate the collection routing element on multiple urls (https://stackoverflow.com/a/49114613) -->
  <a [routerLink]="['/dashboard', 'collection']" routerLinkActive #collectionActive="routerLinkActive"
     style="display: none"></a>
  <a [routerLink]="['/dashboard', 'collections']" routerLinkActive #collectionsActive="routerLinkActive"
     style="display: none"></a>
</nav>
