@import "../../../../../assets/scss/variables";

.nav-item.nav-link.active {
  color: $primary-color-accent;
}

.nav-item.nav-link:hover {
  color: rgba(255, 255, 255, 0.75);
}

.nav-item.nav-link {
  color: rgba(255, 255, 255, 0.5);
}
