<ng-template #uploadItemModal let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Upload</h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <app-dashboard-collection-detail-navbar-upload-item
    [collectionSlug]="collectionSlug">
  </app-dashboard-collection-detail-navbar-upload-item>
</ng-template>

<ng-template #addMemberModal let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Upload</h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <app-dashboard-collection-detail-navbar-add-member
    [collectionSlug]="collectionSlug">
  </app-dashboard-collection-detail-navbar-add-member>
</ng-template>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-0 sticky-top">
  <div id="navcollapse" class="collapse navbar-collapse my-2 offset-2">
    <a class="nav-item nav-link" [routerLink]="['photos']" [routerLinkActive]="'active'">Photos</a>
    <a class="nav-item nav-link" [routerLink]="['details']" [routerLinkActive]="'active'">Details</a>

    <ul class="navbar-nav ml-auto">
      <li>
        <fa-icon class="nav-item nav-link" [icon]="['far', 'file-upload']" container="body"
                 placement="bottom" ngbTooltip="Upload photo(s)"
                 (click)="open(uploadItemModal, {size: 'lg'})"></fa-icon>
      </li>
      <li>
        <fa-icon class="nav-item nav-link" [icon]="['far', 'user-plus']" container="body"
                 placement="bottom" ngbTooltip="Add member"
                 (click)="open(addMemberModal)"></fa-icon>
      </li>
    </ul>
  </div>
</nav>
