<div class="container-fluid offset-2 col-md-10" *ngIf="collection">
  <div class="row">
    <div class="col-md-10 mt-2">
      <h1>{{collection.name}}</h1>
      <p *ngIf="collection.description">{{collection.description}}</p>

      <h5>Members:</h5>
      <ul class="list-inline">
        <li class="list-inline-item" *ngFor="let member of collection.members">
          <app-common-user [user]="member"></app-common-user>
        </li>
      </ul>
    </div>
  </div>
</div>
