<div *ngIf="collectionItem">
  <img [src]="imageToShow"
       [alt]="collectionItem.name"
       *ngIf="!isImageLoading; else noImageFound"
       width="100%"
       height="100%">
  <ng-template #noImageFound>
    <img
      src="../../../../../../assets/images/collection-item-fallback-image.png"
      alt="Fallback image"
      width="100%"
      height="100%">
  </ng-template>
</div>
