<app-photo-swipe #photoSwipe [images]="images"></app-photo-swipe>

<div *ngIf="itemContainer" [ngStyle]="{ height: itemContainer.containerHeight + 'px', width: '100%' }" style="position: relative;" class="no-gutters">
  <div *ngFor="let item of itemContainer.boxes; let i = index"
       [ngStyle]="{ width: item.width + 'px', height: item.height + 'px', left: item.left + 'px', top: item.top + 'px'}"
       class="box"
       (deferLoad)="shouldShow[i] = true"
  >
    <app-dashboard-collection-detail-item
      (click)="openGallery(i)"
      [collectionItem]="items[i]"
      *ngIf="shouldShow[i]">
    </app-dashboard-collection-detail-item>
  </div>
</div>
