// Variables
$primary-color: #ffd600;
$primary-color-accent: #ffe24d;
$primary-color-darker: #dab700;
$primary-color-darker-rgba: rgba(218, 183, 0, 0.5);

$secondary-color: #253F51;
$secondary-color-accent: #3d6886;
$secondary-color-accent-rgba: rgba(61, 104, 134, 0.30);
$secondary-color-darker: #1d313f;
$secondary-color-darker-rgba: rgba(29, 49, 63, 0.25);

$error-color: #bc3908;
$error-color-rgba: rgba(188, 57, 8, 0.9);
$success-color: #76b041;
$success-color-rgba: rgba(118, 176, 65, 0.9);
$warning-color: #f3b61f;
$warning-color-rgba: rgba(243, 182, 31, 0.9);

$black: black;
$white: white;
$light-grey: #777777;
