<div class="container-fluid offset-2 col-8">
    <div class="row">
      <div class="input-group p-3">
        <input type="text" class="form-control" placeholder="Search for a collection" (input)="filterCollections(searchQuery)" [(ngModel)]="searchQuery">
        <div class="input-group-append" id="button-addon4">
          <app-dashboard-collection-create (onCollectionSaved)="onCollectionSaved($event)" [searchQuery]="searchQuery"></app-dashboard-collection-create>
        </div>
      </div>
    </div>
    <ul class="list-unstyled">
      <li *ngFor="let collection of filteredCollections; let i = index"
          (deferLoad)="shouldShow[i] = true"
          class="mb-1">
        <app-dashboard-collection-overview-collection
          *ngIf="shouldShow[i]"
          [collection]="collection">
        </app-dashboard-collection-overview-collection>
      </li>
    </ul>
</div>
