<section id="login">
    <div class="container-fluid h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-4">
                <div class="col-8 mx-auto">
                    <h2 class="text-center">Sign in</h2>
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input id="email" type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.email.errors }" />
                            <div *ngIf="submitted && form.email.errors" class="invalid-feedback">
                                <div *ngIf="form.email.errors.required">Email is required</div>
                                <div *ngIf="form.email.errors.email">Email must be a valid email address</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input id="password" type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.password.errors }" />
                            <div *ngIf="submitted && form.password.errors" class="invalid-feedback">
                                <div *ngIf="form.password.errors.required">Password is required</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <button [disabled]="loading" class="btn btn-primary">Login</button>
                            <fa-icon *ngIf="loading" [icon]="['far', 'spinner']" [spin]="true" class="ml-2"></fa-icon>
                        </div>
                        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                    </form>

                    <p class="text-center">
                        No account yet? <a routerLink="/sign_up">Sign up</a>
                    </p>
                </div>
            </div>
            <div class="col-8 image-area"></div>
        </div>
    </div>
</section>
