@import "../../../assets/scss/variables.scss";

#canvas-basic {
  position: absolute;
  display: block;
  height: 100vh;
  width: 100%;
}

.banner-area{
  height: 100vh;
  color: #fff;
  background-image: url('img/bg.jpg');
  background-size: cover;
}

@media (max-width: 768px) {
  .banner-img{
    display: none;
  }
}

.home-overlay {
  width: 100%;
  background-color: #000;
  opacity: .6;
}

.carousel-block {
  right: 15%;
  bottom: 20px;
  left: 15%;
  padding-top: 48px;
  padding-bottom: 48px;
  text-align: center;
}

.carousel-title {
  font-size: 36px;
  color: #fff;
}

.emphasize {
  color: $primary-color;
}
