<section class="banner-area" id="home">
  <div class="container-fluid h-100">
    <div class="row align-items-center h-100">
      <div class="col-12 mx-auto home-overlay">
        <ngb-carousel>
          <ng-template ngbSlide>
            <div class="carousel-block">
              <span class="carousel-title">
                Immortalize your <span class="emphasize">memories</span>
              </span>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="carousel-block">
              <span class="carousel-title">
                <span class="emphasize">Enjoy</span> the small things
              </span>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </div>
</section>
