@import '~bootstrap/dist/css/bootstrap.css';
@import '~roboto-fontface/css/roboto/roboto-fontface.css';
@import "~ngx-smart-modal/ngx-smart-modal.scss";
@import 'assets/scss/variables.scss';
@import '~node_modules/angular2-toaster/toaster';

* {
  font-family: 'Roboto', sans-serif;
}

.width-400 {
  width: 400px !important;
}

.btn-primary {
  color: #fff;
  background-color: $primary-color;
  border-color: $primary-color;
}

.btn-primary:disabled {
  background-color: $primary-color-accent;
  border-color: $primary-color-accent;
}

.btn-primary:hover {
  color: #fff;
  background-color: $primary-color-accent;
  border-color: $primary-color-accent;
}

.btn-secondary {
  color: #fff;
  background-color: $secondary-color;
  border-color: $secondary-color;
}

.btn-secondary:hover {
  color: #fff;
  background-color: $secondary-color-accent;
  border-color: $secondary-color-accent;
}

.btn-outline-primary {
  color: $primary-color;
  background-color: transparent;
  background-image: none;
  border-color: $primary-color;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: $primary-color;
  border-color: $primary-color;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem $primary-color-darker-rgba;
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: $primary-color;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: $primary-color;
  border-color: $primary-color;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem $primary-color-darker-rgba;
}

a:link {
  color: $primary-color;
}

a:visited {
  color: $primary-color-darker;
}

a:hover {
  color: $primary-color-accent;
}

a:active {
  color: $primary-color;
}

a {
  outline: none;
}

/***************************
 ***     Typography      ***
 ***************************/

.white {
  color: #fff !important;
}

/***************************
 ***    Form controls    ***
 ***************************/

.custom-checkbox .custom-control-label::before {
  border-radius: 0.25rem;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: $primary-color;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
  background-color: $primary-color;
}

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3E%3Cpath stroke='%23fff' d='M0 2h4'/%3E%3C/svg%3E");
}

.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before {
  background-color: $secondary-color;
}

.custom-checkbox .custom-control-input:disabled:indeterminate ~ .custom-control-label::before {
  background-color: $secondary-color;
}

/***************************
 ***       Utils         ***
 ***************************/

.min-vh-100 {
  min-height: 100vh;
}

/***************************
 *** Bootstrap overrides ***
 ***************************/

a.dropdown-item:visited {
  color: $black;
}

a.dropdown-item.active, a.dropdown-item:active {
  background-color: $primary-color-accent;
  color: $white;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: $secondary-color-accent;
  outline: 0;
  box-shadow: 0 0 0 0.2rem $secondary-color-accent-rgba;
}

/***************************
 ***   Toast overrides   ***
 ***************************/

.toast-close-button {
  right: -0.1em !important;
}

.toast-success {
  border: 3px solid $success-color;
  background-color: $success-color-rgba;
}

.toast-error {
  border: 3px solid $error-color;
  background-color: $error-color-rgba;
}

.toast-warning {
  border: 3px solid $warning-color;
  background-color: $warning-color-rgba;
}
