@import "../../../../../../assets/scss/variables";

td.status {
  text-align: center;
}

tr.success {
  background-color: $success-color !important;
  opacity: .6;
  color: white;
}

tr.failed {
  background-color: $error-color !important;
  opacity: .6;
  color: white;
}

.scrollable-table {
  display: block;
  max-height: 50vh;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

thead.filled-background {
  background-color: #ffffff;
}
