<form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
    <div class="modal-body">
        <input id="files" type="file" multiple formControlName="files" (change)="onFileChange($event)"
               accept="image/x-png,image/gif,image/jpeg"/>

        <div *ngIf="filesToUpload.length > 0">
            <br>
            <h6>Total: {{itemsUploaded}} / {{filesToUpload.length}} (failed: {{itemsFailedToUpload}})</h6>

            <div class="scrollable-table">
                <table class="table table-striped">
                    <thead class="filled-background sticky-top">
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Size</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let field of filesToUpload; let i = index" class="{{field.status}}">
                        <td>{{field.name}}</td>
                        <td>{{field.type}}</td>
                        <td>{{field.size}}</td>
                        <td class="status" [ngSwitch]="field.status">
                            <div *ngSwitchCase="'success'">
                                <fa-icon [icon]="['far', 'check-circle']" container="body"
                                         placement="bottom" ngbTooltip="{{field.message}}"></fa-icon>
                            </div>
                            <div *ngSwitchCase="'failed'">
                                <fa-icon [icon]="['far', 'exclamation-circle']" container="body"
                                         placement="bottom" ngbTooltip="{{field.message}}"></fa-icon>
                            </div>
                            <div *ngSwitchCase="'uploading'">
                                <fa-icon [icon]="['far', 'spinner']" [spin]="true" container="body"
                                         placement="bottom" ngbTooltip="{{field.message}}"></fa-icon>
                            </div>
                            <div *ngSwitchCase="'waiting'">
                                <fa-icon [icon]="['far', 'pause-circle']" container="body"
                                         placement="bottom" ngbTooltip="{{field.message}}"></fa-icon>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Upload</button>
            <fa-icon *ngIf="loading" [icon]="['far', 'spinner']" [spin]="true" class="ml-2"></fa-icon>
        </div>
    </div>
</form>
