<div class="container-fluid h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-4">
            <div class="col-8 mx-auto">
                <h2 class="text-center">Sign up</h2>
                <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="firstName">First name:</label>
                        <input id="firstName" type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.firstName.errors }" />
                        <div *ngIf="submitted && form.firstName.errors" class="invalid-feedback">
                            <div *ngIf="form.firstName.errors.required">First name is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="lastName">Last name:</label>
                        <input id="lastName" type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.lastName.errors }" />
                        <div *ngIf="submitted && form.lastName.errors" class="invalid-feedback">
                            <div *ngIf="form.lastName.errors.required">Last name is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input id="email" type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.email.errors }" />
                        <div *ngIf="submitted && form.email.errors" class="invalid-feedback">
                            <div *ngIf="form.email.errors.required">Email is required</div>
                            <div *ngIf="form.email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input id="password" type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.password.errors }" />
                        <div *ngIf="submitted && form.password.errors" class="invalid-feedback">
                            <div *ngIf="form.password.errors.required">Password is required</div>
                            <div *ngIf="form.password.errors.minlength">The password must be at least 8 characters.</div>
                            <div *ngIf="form.password.errors.maxlength">The password must be no longer then 128 characters.</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button [disabled]="loading" class="btn btn-primary">Sign up</button>
                        <fa-icon *ngIf="loading" [icon]="['far', 'spinner']" [spin]="true" class="ml-2"></fa-icon>
                    </div>
                    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                </form>

                <p class="text-center">
                    Already got an account? <a routerLink="/login">Login</a>
                </p>
            </div>
        </div>
        <div class="col-8 image-area"></div>
    </div>
</div>
