<ng-template #createCollectionModal let-d="dismiss">
    <form [formGroup]="collectionCreateForm" (ngSubmit)="onSubmit()">

        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Create collection</h4>
            <button type="button" class="close" aria-label="Close" (click)="d()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            <div class="form-group">
                <label for="name">Name:</label>
                <input id="name" type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.name.errors }" />
                <div *ngIf="submitted && form.name.errors" class="invalid-feedback">
                    <div *ngIf="form.name.errors.required">Name is required</div>
                </div>
            </div>

            <div class="form-group">
                <label for="description">Description:</label>
                <textarea id="description" rows="2" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.description.errors }"></textarea>
            </div>
        </div>

        <div class="modal-footer">
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">Create</button>
                <fa-icon *ngIf="loading" [icon]="['far', 'spinner']" [spin]="true" class="ml-2"></fa-icon>
            </div>
        </div>
    </form>
</ng-template>

<button class="btn input-button" type="button" (click)="open(createCollectionModal)">Create</button>
