@import "~src/assets/scss/variables";

.input-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: $white;
  background-color: $primary-color;
}

.input-button:hover {
  color: $white;
  background-color: $primary-color-accent;
  border-color: $primary-color;
}

.input-button:focus, .input-button.focus {
  box-shadow: 0 0 0 0.2rem $primary-color-darker-rgba;
}
